# SPDX-FileCopyrightText: 2023 Nikita Chernyi
# SPDX-FileCopyrightText: 2025 Suguru Hirahara
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: Check existence of Soft Serve service
  ansible.builtin.stat:
    path: "{{ devture_systemd_docker_base_systemd_path }}/{{ soft_serve_identifier }}.service"
  register: soft_serve_service_stat

- name: Uninstall Soft Serve systemd services and files
  when: soft_serve_service_stat.stat.exists | bool
  block:
    - name: Ensure Soft Serve systemd service is stopped
      ansible.builtin.systemd:
        name: "{{ soft_serve_identifier }}"
        state: stopped
        enabled: false
        daemon_reload: true

    - name: Ensure Soft Serve systemd service does not exist
      ansible.builtin.file:
        path: "{{ devture_systemd_docker_base_systemd_path }}/{{ soft_serve_identifier }}.service"
        state: absent

    - name: Ensure Soft Serve support files does not exist
      ansible.builtin.file:
        path: "{{ soft_serve_base_path }}/{{ item }}"
        state: absent
      with_items:
        - env

    - name: Ensure Soft Serve local data path does not exist if empty
      ansible.builtin.command:
        cmd: "rmdir {{ soft_serve_data_path }}"
      register: soft_serve_data_path_deletion_result
      changed_when: soft_serve_data_path_deletion_result.rc == 0
      failed_when: false

    - name: Ensure Soft Serve base path does not exist if empty
      ansible.builtin.command:
        cmd: "rmdir {{ soft_serve_base_path }}"
      register: soft_serve_base_path_deletion_result
      changed_when: soft_serve_base_path_deletion_result.rc == 0
      failed_when: false

    - name: Ensure Soft Serve container network does not exist
      when: soft_serve_container_network_deletion_enabled
      block:
        - name: Ensure Soft Serve container network does not exist via community.docker.docker_network
          when: devture_systemd_docker_base_container_network_creation_method == 'ansible-module'
          community.docker.docker_network:
            name: "{{ soft_serve_container_network }}"
            state: absent
          register: soft_serve_network_deletion_result

        - name: Ensure Soft Serve container network does not exist via ansible.builtin.command
          when: devture_systemd_docker_base_container_network_creation_method == 'command'
          ansible.builtin.command:
            cmd: >-
              {{ devture_systemd_docker_base_host_command_docker }} network rm
              {{ soft_serve_container_network }}
          register: soft_serve_network_deletion_result
          changed_when: soft_serve_container_network in soft_serve_network_deletion_result.stdout

- name: Check existence of Soft Serve local data path
  ansible.builtin.stat:
    path: "{{ soft_serve_data_path }}"
  register: soft_serve_data_path_stat

# We just want to notify the user. Deleting data is too destructive.
- name: Notify if Soft Serve local data remains
  when: soft_serve_data_path_stat.stat.exists | bool
  ansible.builtin.set_fact:
    devture_playbook_runtime_messages_list: |
      {{
        devture_playbook_runtime_messages_list | default([])
        +
        [
          "Note: You are not using a local soft_serve instance, but some old data remains from before in `" + soft_serve_data_path + "`. Feel free to delete it."
        ]
      }}
